<!DOCTYPE html>
<html lang="en">
  <%-include('../partials/head.ejs')%>
  <body class="bg-gradient-to-r from-blue-200 via-blue-400 to-blue-600">
    <%- include('../partials/header.ejs') %>
    <header class="bg-gray-800 shadow-lg flex flex-col items-center py-2">
      <div class="search-div flex w-3/4">
        <form action="" id="search-form" class="flex relative w-full">
          <input
            type="text"
            name="search"
            placeholder="Search Games"
            class="w-full px-2 text-black"
          />
          <a href="" class="bg-opacity-0 absolute right-0 text-2xl"
            ><ion-icon name="search-circle-outline"></ion-icon
          ></a>
        </form>
      </div>
    </header>

    <form action="/sessions?_method=DELETE" method="post">
      <input type="submit" value="LOGOUT" />
    </form>
    <main class="flex flex-wrap">
      <% for(let i = 0; i < games.length; i++) { %>
      <div class="game-container w-1/2 p-2 md:w-1/4">
        <div class="img-container relative group">
          <img src="<%= games[i].img %>" alt="" />
          <div
            class="
              buttons-div
              absolute
              bg-black
              w-full
              h-full
              top-0
              bg-opacity-30
              flex flex-col
              items-center
              justify-center
              opacity-0
              group-hover:opacity-100
            "
          >
            <div
              class="
                btn-more-info
                text-white
                mb-10
                px-4
                bg-black bg-opacity-50
                cursor-pointer
              "
            >
              <a href="/backlogkiller/<%=games[i].name%>">MORE INFO</a>
            </div>
            <!-- Add if statement for backlog button -->
            <div
              class="
                btn-add-backlog
                text-white
                px-4
                bg-black bg-opacity-50
                cursor-pointer
                text-center
              "
            >
              <% if(currentUser) { %>
              <a
                href="/backlogkiller/<%= games[i].name %>/addtobacklog"
                class=""
                >ADD TO BACKLOG</a
              >

              <% } else {%>
              <a href="/sessions/new" class="">ADD TO BACKLOG</a>

              <% } %>
            </div>
          </div>
        </div>
        <div class="info-container bottom-0 bg-black w-full p-2 shadow-md">
          <h1 class="text-white"><%= games[i].title %></h1>
          <h2 class="text-white text-xs"><%= games[i].genre %></h2>
        </div>
      </div>
      <% } %>
    </main>
    <% if(currentUser) { %>
    <h1>User is logged in</h1>
    <% }else {%>
    <h1>User is not logged in</h1>
    <% } %> <%- include('../partials/icons.ejs') %>
  </body>
</html>
